body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

h1{
color:#38bdf8;
}

.progress-section{
margin:20px;
}

.progress-bar{
width:80%;
margin:auto;
height:25px;
background:#334155;
border-radius:10px;
}

#progressFill{
height:25px;
width:0%;
background:#22c55e;
border-radius:10px;
}

.task{
background:#1e293b;
margin:15px;
padding:15px;
border-radius:10px;
width:80%;
margin-left:auto;
margin-right:auto;
display:flex;
justify-content:space-between;
align-items:center;
}

.priority-high{color:red;}
.priority-medium{color:orange;}
.priority-low{color:lightgreen;}

input[type="checkbox"]{
transform:scale(1.5);
}
