body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

h1{
color:#38bdf8;
}

.dashboard{
margin:20px;
}

.stats{
display:flex;
justify-content:center;
gap:40px;
font-size:20px;
}

.progress-container{
width:80%;
margin:auto;
background:#334155;
height:20px;
border-radius:10px;
margin-top:20px;
}

#progressBar{
height:20px;
width:0%;
background:#22c55e;
border-radius:10px;
}

.form{
display:flex;
flex-direction:column;
gap:10px;
width:300px;
margin:auto;
}

input,select{
padding:10px;
border:none;
border-radius:5px;
}

button{
background:#38bdf8;
border:none;
padding:10px;
cursor:pointer;
}

.task{
background:#1e293b;
margin:10px;
padding:15px;
border-radius:10px;
}
