body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

h1{
color:#38bdf8;
}

.skill{
background:#1e293b;
margin:15px;
padding:20px;
border-radius:10px;
}

.progress{
width:100%;
background:#334155;
height:20px;
border-radius:10px;
margin-top:10px;
}

.bar{
height:20px;
background:#22c55e;
border-radius:10px;
width:0%;
}

button{
margin-top:10px;
padding:8px 15px;
border:none;
background:#38bdf8;
color:black;
cursor:pointer;
border-radius:5px;
}

